/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Arial';
  line-height: 1.5;
}

body {
  margin: 40px;
}

@page
{
  margin: 20mm 20mm 20mm 25mm;
}

@media print
{
  html {
    font-size: 11pt;
  }

  body {
    margin: 0;
  }
}

table {
  width: 100%;
  text-align: left;
  font-variant-numeric: tabular-nums;
  border-collapse: collapse;
}

td, th {
  vertical-align: top;
}
table {
  border-spacing: 0.3em;
}

th {
  white-space: nowrap;
}

thead tr {
  border-bottom: 1px solid black;
}
tr.final {
  border-top: 1px solid black;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.right {
  text-align: right;
}
